//! **************************************************************************
// Written by: Map P.20131013 on Mon Nov 11 12:18:55 2019
//! **************************************************************************

SCHEMATIC START;
COMP "segment<0>" LOCATE = SITE "P41" LEVEL 1;
COMP "segment<1>" LOCATE = SITE "P40" LEVEL 1;
COMP "segment<2>" LOCATE = SITE "P35" LEVEL 1;
COMP "segment<3>" LOCATE = SITE "P34" LEVEL 1;
COMP "segment<4>" LOCATE = SITE "P32" LEVEL 1;
COMP "segment<5>" LOCATE = SITE "P29" LEVEL 1;
COMP "segment<6>" LOCATE = SITE "P27" LEVEL 1;
COMP "shlPB4" LOCATE = SITE "P46" LEVEL 1;
PIN shlPB4_pin<0> = BEL "shlPB4" PINNAME PAD;
PIN "shlPB4_pin<0>" CLOCK_DEDICATED_ROUTE;
COMP "com<0>" LOCATE = SITE "P44" LEVEL 1;
COMP "com<1>" LOCATE = SITE "P43" LEVEL 1;
COMP "a<0>" LOCATE = SITE "P66" LEVEL 1;
COMP "a<1>" LOCATE = SITE "P62" LEVEL 1;
COMP "xxorPB3" LOCATE = SITE "P48" LEVEL 1;
PIN xxorPB3_pin<0> = BEL "xxorPB3" PINNAME PAD;
PIN "xxorPB3_pin<0>" CLOCK_DEDICATED_ROUTE;
COMP "a<2>" LOCATE = SITE "P61" LEVEL 1;
COMP "a<3>" LOCATE = SITE "P59" LEVEL 1;
COMP "b<0>" LOCATE = SITE "P99" LEVEL 1;
COMP "a<4>" LOCATE = SITE "P58" LEVEL 1;
COMP "subPB2" LOCATE = SITE "P47" LEVEL 1;
PIN subPB2_pin<0> = BEL "subPB2" PINNAME PAD;
PIN "subPB2_pin<0>" CLOCK_DEDICATED_ROUTE;
COMP "b<1>" LOCATE = SITE "P100" LEVEL 1;
COMP "a<5>" LOCATE = SITE "P57" LEVEL 1;
COMP "b<2>" LOCATE = SITE "P101" LEVEL 1;
COMP "a<6>" LOCATE = SITE "P56" LEVEL 1;
COMP "b<3>" LOCATE = SITE "P102" LEVEL 1;
COMP "a<7>" LOCATE = SITE "P55" LEVEL 1;
COMP "P123" LOCATE = SITE "P123" LEVEL 1;
COMP "b<4>" LOCATE = SITE "P104" LEVEL 1;
COMP "plusPB1" LOCATE = SITE "P45" LEVEL 1;
PIN plusPB1_pin<0> = BEL "plusPB1" PINNAME PAD;
PIN "plusPB1_pin<0>" CLOCK_DEDICATED_ROUTE;
COMP "b<5>" LOCATE = SITE "P105" LEVEL 1;
COMP "b<6>" LOCATE = SITE "P111" LEVEL 1;
COMP "b<7>" LOCATE = SITE "P112" LEVEL 1;
SCHEMATIC END;

