
# PlanAhead Generated physical constraints 

NET "A[3]" LOC = P66;
NET "A[2]" LOC = P62;
NET "A[1]" LOC = P61;
NET "A[0]" LOC = P59;
NET "Q[3]" LOC = P44;
NET "Q[2]" LOC = P43;
NET "Q[1]" LOC = P33;
NET "Q[0]" LOC = P30;
