//! **************************************************************************
// Written by: Map P.20131013 on Mon Nov 25 14:22:47 2019
//! **************************************************************************

SCHEMATIC START;
COMP "segmen<3>" LOCATE = SITE "P34" LEVEL 1;
COMP "segmen<4>" LOCATE = SITE "P32" LEVEL 1;
COMP "segmen<5>" LOCATE = SITE "P29" LEVEL 1;
COMP "segmen<6>" LOCATE = SITE "P27" LEVEL 1;
COMP "clk123" LOCATE = SITE "P123" LEVEL 1;
COMP "com<0>" LOCATE = SITE "P44" LEVEL 1;
COMP "com<1>" LOCATE = SITE "P43" LEVEL 1;
COMP "XLXN_120" LOCATE = SITE "P105" LEVEL 1;
COMP "XLXN_121" LOCATE = SITE "P104" LEVEL 1;
COMP "XLXN_122" LOCATE = SITE "P102" LEVEL 1;
COMP "XLXN_123" LOCATE = SITE "P101" LEVEL 1;
COMP "XLXN_140" LOCATE = SITE "P61" LEVEL 1;
COMP "XLXN_124" LOCATE = SITE "P100" LEVEL 1;
COMP "XLXN_141" LOCATE = SITE "P62" LEVEL 1;
COMP "XLXN_125" LOCATE = SITE "P99" LEVEL 1;
COMP "XLXN_134" LOCATE = SITE "P55" LEVEL 1;
COMP "XLXN_118" LOCATE = SITE "P112" LEVEL 1;
COMP "XLXN_135" LOCATE = SITE "P56" LEVEL 1;
COMP "XLXN_119" LOCATE = SITE "P111" LEVEL 1;
COMP "XLXN_136" LOCATE = SITE "P57" LEVEL 1;
COMP "segmen<0>" LOCATE = SITE "P41" LEVEL 1;
COMP "XLXN_137" LOCATE = SITE "P58" LEVEL 1;
COMP "XLXN_138" LOCATE = SITE "P59" LEVEL 1;
COMP "segmen<1>" LOCATE = SITE "P40" LEVEL 1;
COMP "XLXN_139" LOCATE = SITE "P60" LEVEL 1;
COMP "segmen<2>" LOCATE = SITE "P35" LEVEL 1;
SCHEMATIC END;

