
# PlanAhead Generated physical constraints  
NET "Common[0]" LOC = P30;
NET "Common[1]" LOC = P33;
NET "Common[2]" LOC = P43;
NET "Common[3]" LOC = P44;

//NET "Common[0]" LOC = P82;
//NET "Common[1]" LOC = P81;
//NET "Common[2]" LOC = P80;
//NET "Common[3]" LOC = P79;

NET "seven[0]" LOC = P41;
NET "seven[1]" LOC = P29;
NET "seven[2]" LOC = P32;
NET "seven[3]" LOC = P34;
NET "seven[4]" LOC = P35;
NET "seven[5]" LOC = P40;
NET "seven[6]" LOC = P27;

NET "CLK" LOC = P123;